<div class="container py-5">
    <div class="row py-3">
        <h1 class="text-white py-3">Testimonials</h1>
        {{#each data}}
        <div class="col">
             <p class="text-black-50">{{{summary}}}</summary></p>
             <span class="text-white">{{name}}</span>
             <a href="#">{{email}}</a>
         </div>
        {{/each}}
</div>
</div>